.tw-followCard  {
    display: flex;
    align-items:center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.tw-followCard-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-info {
    display: flex;
    flex-direction: column;
    
    gap: 4px;

}

.tw-followCard-info-name {
    opacity: .6;
    font-size: 30px;
    font-weight: 700
}

.tw-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
    border: 2px solid #000;
}

.tw-followCard-button {
    margin-left: 16px;
    padding: 6px 16px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #1DA1F2;
    border: none;
    border-radius: 999px;
    cursor: pointer;
}

.tw-followCard-info-username {
    font-size: 14px;
    opacity: .6;
}